.records_list ul.actions,
ul.record_actions {
  list-style: none;
  margin: 0;
  padding: 0;
}
.records_list ul.actions > li {
  display: inline-block;
}
ul.record_actions > li {
  margin: 15px 0;
}
/* Table borders */
.records_list {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}
.records_list > thead > tr > th,
.records_list > tbody > tr > th,
.records_list > tfoot > tr > th,
.records_list > thead > tr > td,
.records_list > tbody > tr > td,
.records_list > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.records_list > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.records_list > caption + thead > tr:first-child > th,
.records_list > colgroup + thead > tr:first-child > th,
.records_list > thead:first-child > tr:first-child > th,
.records_list > caption + thead > tr:first-child > td,
.records_list > colgroup + thead > tr:first-child > td,
.records_list > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.records_list > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.records_list .table {
  background-color: #ffffff;
}
.records_list > thead > tr > th,
.records_list > tbody > tr > th,
.records_list > tfoot > tr > th,
.records_list > thead > tr > td,
.records_list > tbody > tr > td,
.records_list > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.records_list > thead > tr > th,
.records_list > thead > tr > td {
  border-bottom-width: 2px;
}
.records_list > tbody > tr:hover {
  background-color: #f5f5f5;
}
.record_properties {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}
.record_properties > thead > tr > th,
.record_properties > tbody > tr > th,
.record_properties > tfoot > tr > th,
.record_properties > thead > tr > td,
.record_properties > tbody > tr > td,
.record_properties > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.record_properties > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.record_properties > caption + thead > tr:first-child > th,
.record_properties > colgroup + thead > tr:first-child > th,
.record_properties > thead:first-child > tr:first-child > th,
.record_properties > caption + thead > tr:first-child > td,
.record_properties > colgroup + thead > tr:first-child > td,
.record_properties > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.record_properties > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.record_properties .table {
  background-color: #ffffff;
}
.record_properties > thead > tr > th,
.record_properties > tbody > tr > th,
.record_properties > tfoot > tr > th,
.record_properties > thead > tr > td,
.record_properties > tbody > tr > td,
.record_properties > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.record_properties > thead > tr > th,
.record_properties > thead > tr > td {
  border-bottom-width: 2px;
}
.record_properties > tbody > tr:hover {
  background-color: #f5f5f5;
}
/* Ordering */
.records_list a.order {
  color: inherit;
}
.records_list .order:after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: transparent;
  display: inline-block;
  margin-bottom: 2px;
}
.records_list .order.active:after,
.records_list .order.active.ascending:hover:after,
.records_list .order:hover:after {
  border-width: 5px 5px 0 5px;
  border-color: #424242 transparent transparent transparent;
}
.records_list .order.active.ascending:after,
.records_list .order.active:hover:after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #424242 transparent;
}
.pagination {
  float: right;
  margin: 0;
}

.fwModal {
  width: 80vw;
  height: 80vh;
  background: white;
  padding: 20px;
  overflow: auto;
}
.backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.wikiImagePicker img {
  max-height: 100px;
  margin: 10px;
  cursor: pointer;
}
.menu {
  border-bottom: 1px solid lightgrey;
}
.menu .help {
  float: right;
  font-size: 12px;
  margin: 0;
  margin-top: 12px;
}
.menu ul {
  margin: 10px auto;
}

.museumEdit .searchBar {
  background: #D5E0F5;
  padding: 5px 0 15px;
  border-radius: 4px;
  margin: 20px 0;
}
.museumEdit .searchBar .searchResults {
  margin: 20px 0 0;
}
.museumEdit .article,
.museumEdit .translation,
.museumEdit .relation {
  margin-left: 20px;
}
.museumEdit .articlePreview {
  clear: both;
  padding: 5px 10px;
  overflow: auto;
  line-height: 30px;
  border-radius: 4px;
  line-height: 52px;
}
.museumEdit .articlePreview:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.3);
}
.museumEdit .articlePreview .title i {
  font-size: 13px;
}
.museumEdit .articlePreview .title a {
  color: black;
  font-size: 16px;
}
.museumEdit .articlePreview .title a .searchmatch {
  font-weight: bold;
}
.museumEdit .articlePreview .title a:hover {
  color: blue;
  text-decoration: underline;
}
.museumEdit .articlePreview .ordering {
  display: inline-block;
  margin: 0 10px;
}
.museumEdit .articlePreview img {
  display: inline-block;
  margin: 0 10px;
  max-height: 52px;
}
.museumEdit .articlePreview .actions {
  float: right;
}
.museumEdit .articlePreview .snippet {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0;
  color: #777777;
}
.museumEdit .articlePreview .snippet:after {
  content: '...';
}
.museumEdit .articlePreviews .articlePreview:nth-child(2n-1) {
  background-color: rgba(0, 0, 0, 0.1);
}
.fwModal.articleEditor .pickRelated {
  display: none;
}


/*# sourceMappingURL=backend.css.map */