{% for article in articles %}
    <div class="article">
        <div class="image" style="background-image: url('{{ article.smallImage }}');"></div>
        <h4>{{ article.title }}</h4>
    </div>
{% endfor %}