@import "import.less";

.articleBarWrap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    font-family: 'Lora', serif;
    font-weight: bold;
    color: white;
    
    .articleBar {
        overflow: hidden;
        width: 9999px;
        
        .twoWrap {
            width: @blockWidth;
            float: left;
        }
        
        .article {
            background-size: cover;
            width: @blockWidth;
            height: @blockHeight;
            float: left;
            position: relative;
            
            h4 {
                font-size: 1.8rem;
                text-shadow: 0 0 5px rgba(0,0,0,0.5);
                margin: 20px 5px;
                text-align: center;
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }
    }
}