@import "import.less";

.articleContent {
    
    @gutter: @articleGutter;
    margin-bottom: 60vh;
    transform: translate3d(0,0,0);
    
    .greenBox() {
        background: #f4f4f4;
        border: 2px solid @marker;
        border-width: 2px 0;
    }
    .caption() {
        text-align: center;
        font-weight: normal;
        font-size: 1.2rem !important;
        line-height: 1.8rem;
    }
    
    font-family: "PT Sans", sans-serif;
    font-size: 1.85rem;
    padding: 0 @gutter @gutter @gutter;
    overflow: auto;
    
    p {
        line-height: 3.0rem;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    /* Stuff that gets hidden */
    .hatnote,
    .mw-editsection,
    .noprint,
    .interProjectTemplate /* Zie ook de categorie... */,
    .beginnetje {
        display: none;
    }
    
    table.editmode {
        display: inline !important;
        float: none;
        clear: none;
        > tbody,
        > tbody > tr,
        > tbody > tr > td,
        > tbody > tr > th {
            display: inline !important;
        }
    }
    
    /* infobox */
    
    .infobox {
        .greenBox();
        @infoGutter: 24px;
        float: right;
        width: 360px !important;
        margin-right: -@gutter;
        font-size: 1.2rem !important;
        line-height: 1.7rem;
        font-weight: bold;
        border-spacing: 0;
        margin: 20px -@gutter 20px 20px !important;
        
        td, th {
            padding: 5px 20px;
        }
        
        th.header,
        td.header,
        caption {
            font-size: 1.7rem;
            line-height: 2.1rem;
            background-color: transparent !important;
        }
        td.subscript {
            .caption();
        }
        
        img.fullWidth {
            width: 360px;
            height: auto;
            margin: 0 -20px;
        }
        
        ul {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    
    /* Thumbs & galleries*/
    
    .tright {
        float: right;
        clear: right;
    }
    .tleft {
        float: left;
        clear: left;
    }
    
    > .tright,
    > .tleft {
        float: right;
        clear: right;
        margin: 10px -@gutter 10px 20px;
    }
    
    .thumb {
        .greenBox();
        a {
            display: inline;
            margin: 0;
            padding: 0;
        }
        img {
            // display: block !important;
            margin: 0;
            padding: 0;
        }
        
        .thumbcaption {
            .caption();
            padding: 5px;
        }
    }
    
    .thumb.fullScreen {
        width: calc(~"100% + " @gutter ~" + " @gutter);
        margin: 10px -@gutter;
        float: none;
        clear: none;
        > div {
            width: 100% !important;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .gallery.mw-gallery-traditional {
        list-style: none;
        margin: 0;
        padding: 0;
        
        .gallerycaption {
            display: block;
            .caption();
            font-weight: bold;
            margin: 10px;
        }
        
        li {
            display: inline-block;
            vertical-align: top;
            
            > div {
                text-align: center;
                img {
                }
            }
        }
        
        .gallerytext,
        .gallerytext p {
            .caption();
        }
    }
    
}