<div class="articlePreview">
    <div class="ordering">
        <div class="btn-group">
            <a class="btn btn-default up" title="Verplaats omhoog">
                <i class="glyphicon glyphicon-arrow-up"></i>
            </a>
            <a class="btn btn-default down" title="Verplaats omlaag">
                <i class="glyphicon glyphicon-arrow-down"></i>
            </a>
        </div>
    </div>
    
    <div class="actions">
        <div class="btn-group">
            <a class="btn btn-default pickImage" title="Kies afbeelding">
                <i class="glyphicon glyphicon-picture"></i>
            </a>
            <a class="btn btn-default pickRelated" title="Kies gerelateerde artikelen">
                <i class="glyphicon glyphicon-list"></i>
            </a>
            <a class="btn btn-danger remove" title="Verwijder">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
    
    <img src="{{ article.smallImage }}">
    <span class="title">
        <i class="glyphicon glyphicon-new-window"></i> 
        <a href="http://{{ article.language }}.wikipedia.org/wiki/{{ article.title }}" target="_blank">
            {{ article.titlesnippet ? article.titlesnippet : article.title }}
        </a>
    </span>
</div>