ul.entity_actions,
ul.record_actions {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.entity_actions > li,
ul.record_actions > li {
    display: inline-block;
}

.record_actions form,
.record_actions div {
    display: inline;
    float: none;
    margin: 0;
    padding: 0;
}

/* Table borders */
.records_list {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}
.records_list > thead > tr > th,
.records_list > tbody > tr > th,
.records_list > tfoot > tr > th,
.records_list > thead > tr > td,
.records_list > tbody > tr > td,
.records_list > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.records_list > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.records_list > caption + thead > tr:first-child > th,
.records_list > colgroup + thead > tr:first-child > th,
.records_list > thead:first-child > tr:first-child > th,
.records_list > caption + thead > tr:first-child > td,
.records_list > colgroup + thead > tr:first-child > td,
.records_list > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.records_list > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.records_list .table {
    background-color: #ffffff;
}
.records_list > thead > tr > th,
.records_list > tbody > tr > th,
.records_list > tfoot > tr > th,
.records_list > thead > tr > td,
.records_list > tbody > tr > td,
.records_list > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.records_list > thead > tr > th,
.records_list > thead > tr > td {
    border-bottom-width: 2px;
}
.records_list > tbody > tr:hover {
    background-color: #f5f5f5;
}

/* Ordering */
.records_list a.order {
    color: inherit;
}
.records_list .order:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: transparent;
    display: inline-block;
    margin-bottom: 2px;
}

.records_list .order.active:after,
.records_list .order.active.descending:hover:after {
    border-color: #424242 transparent transparent transparent;
}
.records_list .order.active.descending:after,
.records_list .order.active:hover:after {
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #424242 transparent;
}