{% set varName = entity|first|lower ~ entity|slice(1) %}

                    <ul class="actions">

                    {%- for action in record_actions %}

                        <li>
                            <a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ varName ~ "."~ identifier ~" }) }}" }}">{{ action|capitalize }}</a>
                        </li>

                    {%- endfor %}

                    </ul>
