{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h1>Wikipedia collections admin interface</h1>
    <ul>
        <li>
            <a href="{{ path('museum') }}">Musea</a>
        </li>
    </ul>
{% endblock %}