<!DOCTYPE html>
<html>
    <head>
        <meta id="viewport" name="viewport" content="width=768, initial-scale=1">
    
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700|PT+Sans:400,700,400italic,700italic&subset=cyrillic,cyrillic-ext,latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="compiled/frontend.css" type="text/css" />
        
        <script type="text/javascript" src="compiled/frontend.js"></script>
        
        <script type="template/twig" id="articleBar-tpl">
            {% for i in range(0, articles.length-1, 2) %}
                <div class="twoWrap">
                    {% for j in 0..1 %}
                        {% set article = articles[i+j] %}
                        <div class="article" style="background-image: url('{{ article.image }}');">
                            <h4>{{ article.humanTitle }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </script>
    </head>
    <body>
        <div class="topBar">
            <div class="carousel">
                <div class="side top">Top</div>
                
                <div class="side front">
                    <img src="img/logo.png" alt="Wikipedia Collections" height="40px">
                </div>
                
                <div class="side bottom">Bottom</div>
                
                <div class="side back">Back</div>
                
            </div>
            <div class="menuButton"></div>
        </div>
        
        <div class="articleBarWrap">
            <div class="articleBar"></div>
        </div>
        
        <div class="articleContent"></div>
        
        <div class="tocMenu">
            
        </div>
    </body>
</html>